version: '3.9'

services:
  
  db:
    image: mysql:8.0
    container_name: db
    restart: always
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: investrack
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  # Backend Laravel
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    depends_on:
      - db
    environment:
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: investrack
      DB_USERNAME: root
      DB_PASSWORD: ""
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/var/www/html
    command: >
      sh -c "until nc -z db 3306; do echo 'Esperando a MySQL...'; sleep 2; done &&
           php artisan migrate --force &&
           php artisan serve --host=0.0.0.0 --port=8000"

  # Frontend Angular
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/usr/src/app
    command: >
      sh -c "npm install && npm start -- --host 0.0.0.0 --port 4200"

volumes:
  db_data:
